name: Create new release
# Test 0.2.6

on:
  push:
    branches:
      - "**"
    tags:
      - "!**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install fuse and libfuse2
      run: sudo apt install fuse libfuse2

    - name: Get appimagetool
      run: |
        set -x
        version_go_appimage=$(wget -q -O - https://api.github.com/repos/probonopd/go-appimage/releases | grep "\"name.*appimagetool-.*-x86_64.AppImage\"" | head -n 1 | cut -d '-' -f2)
        echo "version_go_appimage: $version_go_appimage"

        wget -q "https://github.com/probonopd/go-appimage/releases/download/continuous/appimagetool-$version_go_appimage-x86_64.AppImage" -O appimagetool-x86_64.AppImage
        chmod +x appimagetool-x86_64.AppImage
        pwd; ls -lah

    - name: Make AppImage
      run: |
        set -x
        mkdir squashfs-root/
        cd squashfs-root/

        version="0.2.6"
        echo "witr version: $version"
        wget https://github.com/pranshuparmar/witr/releases/download/v$version/witr-linux-amd64
        chmod +x witr-linux-amd64
        pwd; ls -lah

        wget https://mark0.net/trid_icon.jpg -O witr.png

        echo '#!/bin/bash
        [Desktop Entry]
        Type=Application
        Name=witr
        Exec=witr
        Comment=Why is this running?
        Icon=witr
        Categories=Development;
        Terminal=true
        '> witr.desktop

        pwd; ls -lah
        cat witr.desktop

        cd ../
        pwd; ls -lah

        echo '#!/bin/bash
        local_folder=$PWD
        echo "local_folder $local_folder"

        HERE="$(dirname "$(readlink -f "${0}")")"
        echo "HERE: $HERE"
        HERE=$(echo "$HERE" | sed "s/usr\/bin//")
        echo "Removed usr/bin HERE: $HERE"

        cd "$HERE"/ #opt/python3*/bin/
        all_Parameters=$@
        echo -e "all_Parameters: $all_Parameters\n"

        ./witr-linux-amd64 $all_Parameters
        echo'> squashfs-root/AppRun
        chmod +x squashfs-root/AppRun
        cat squashfs-root/AppRun

        mv README.md squashfs-root/
        ls -lah squashfs-root/

        # Wrong permissions on AppDir, please set it to 0755 and try again
        #chmod 0755 squashfs-root/

        ARCH=x86_64 VERSION="${version}-1_JB" ./appimagetool-x86_64.AppImage squashfs-root/
        ls -lah

        fileName=$(ls witr*.AppImage)
        echo "fileName: $fileName"
        md5sum "$fileName" > "${fileName}.md5"
        ls -lah

    # Build - Error: Resource not accessible by integration
    # Change Settings -> Actions -> General -> Workflow Permissions to allow read and write:
    # https://github.com/actions/first-interaction/issues/10#issuecomment-1506118886

    # https://github.com/marketplace/actions/upload-to-github-release
    - uses: xresloader/upload-to-github-release@main
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          file: "witr*.AppImage; witr*.zsync; witr*.md5"
          #delete_file: "random-name-*.txt;random-*.txt"
          release_id: ${{ steps.create_release.outputs.id }}
          #overwrite: true
          verbose: true
          #tags: true
          draft: false
          default_release_name: "witr V in AppImage"
